.main-sidebar {
    left: unset;
    right: 0;
}

.skin-blue .sidebar-menu>li>a {
    direction: rtl;
    text-align: right;
    padding: 12px 15px 12px 15px;
}

.skin-blue.sidebar-collapse .sidebar-menu>li>a {
    text-align: center;
}

.main-header .navbar {
    -webkit-transition: margin-right .3s ease-in-out;
    -o-transition: margin-right .3s ease-in-out;
    transition: margin-right .3s ease-in-out;
    margin-left: 0px;
    margin-right: 230px;
}

.main-header .sidebar-toggle {
    float: right;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: left;
}

/*.main-header .navbar .user-menu .glyphicon {
    font-size: 20px;
}*/

.main-header .logo {
    float: right;
}

.content-wrapper, .main-footer {
    margin-left: 0;
    margin-right: 230px;
}

.content-header>h1 {
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.table {
    direction: rtl;
    border-collapse: separate;
}

th {
    text-align: center;
}

table, th, td {
    border-color: #ddd !important;
    vertical-align: middle !important;
    background-color: #fafafa;
}

td.phone {
    direction: ltr;
    text-align: right;
}

.calendar-table table {
    direction: rtl;
}

.daterangepicker td.start-date {
    border-radius: 0 10px 10px 0;
}

.daterangepicker td.end-date {
    border-radius: 10px 0 0 10px;
}

.daterangepicker td.start-date.end-date {
    border-radius: 10px;
}

.daterangepicker .calendar-table .next span {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table .prev span {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pagination {
    padding-right: 0;
}

.pagination > li {
    float: right;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-title {
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.close {
    float: left;
}

select {
    direction: rtl;
}

.form-group {
    direction: rtl;
}

.form-group.has-error label {
    color: unset;
}

.form-group.has-error>label {
    color: #dd4b39;
}

.form-group.has-error>label>div {
    color: #dd4b39;
}

.input-group input {
    direction: rtl;
}

.ltr-input {
    direction: ltr;
    text-align: right;
}

textarea {
    resize: none;
}

.multiselect {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiselect-container {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    border-color: #d2d6de;
    border-radius: 0px;
    margin-bottom: 100px;
}

.dropdown-toggle {
    position: relative;
}

.multiselect-native-select>div {
    position: relative;
}

.row-rtl>div {
    float: right;
}

label.checkbox {
    direction: rtl;
    text-align: right;
    padding: 3px 25px 3px 10px !important;
}

label.checkbox input {
    margin-right: -20px;
}

.caret {
    border: none !important;
    position: absolute;
    left: 15px;
    margin-left: -2px;
}

.picurePreview {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: block;
    margin: auto;
    margin-top: -39px;
    object-fit: cover;
}

.picureThumbnail {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.picurePreviewFull {
    height: 200px;
} 

.redTr td {
    background-color: #ef9a9a;
}

.orderStatusTable {
    width: 100%;
}

.orderStatusTable td {
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
}

.checkboxLabel {
    font-weight: 400;
}

#excelOrder {
    position: absolute;
    top: 10px;
    right: 20px;
}

.callout.callout-info {
    background-color: #fff !important;
    color: #333 !important;
    text-align: center;
    border: 1px solid #0097bc;
    border-left: 5px solid #0097bc;
    padding: 30px;
    font-size: 20px;
}

.callout.callout-info span {
    font-weight: 700;
}

.disabledCheckbox {
    cursor: not-allowed;
}

.modal-xl {
    width: max-content;
}

.img-responsive {
    margin: auto;
    max-width: calc(100vw - 170px);
    max-height: calc(100vh - 100px);
}

.closePadded {
    margin-right: 15px;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 0px !important;
        margin-right: 50px !important;
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 0px;
        margin-right: 50px;
    }
}

@media (max-width: 767px) {
    .main-header .logo, .main-header .navbar {
        width: 100%;
        float: none;
    }

    .main-sidebar {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }

    .sidebar-open .content-wrapper, .sidebar-open .main-footer {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }

    .content-wrapper, .main-footer {
        margin-right: 0;
    }
}

@media (min-width: 564px) {
    .daterangepicker .ranges, .daterangepicker .drp-calendar {
        float: right;
    }
}
